/*
Arely
*/
body {
    background-image: url("../images/S3e5_resort.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
/*
aisha
*/

.title{
    color: purple;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    text-align: center;
}
.subtitle {
    justify-content: center;
    display: grid;
    border: 1px solid black;
    height: auto;
    width: 500px;
    padding: 20px;
    margin: 15px 0px 15px 350px;
    background-color: rgba(0, 0, 0, .7);
    background-image: url("../images/alien.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 450px;
    background-position-y: 15px;
    top: 500px;
    
}
.headerColor{
    color: plum;
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
