body {
    background-image: url("../images/S3e5_resort.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.title{
    color: green;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}